#features {
  min-height: 100vh;
  background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: linear-gradient(40deg,#2096ff,#05ffa3)!important
}

.pricing-table {
  .card {
    .card-title {
      font-size: 1.2rem;
      letter-spacing: .2rem;
    }

    .card-price {
      font-size: 2.7rem;

      .term {
        font-size: .875rem;
      }
    }
  }
}

